body{
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: white;
    font-size: 16px;
    font-style: normal;

}
.header-nav-logo{
    color:#2E2F42;
    font-family: Raleway;
    font-size: 18px;
    width: 71px;
    font-weight: 700;
    line-height: 1.166;/* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header-nav-logo-blue{
    color: #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        width: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.166px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.header-menu-item-link{
    color: #2E2F42;
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
}

.header-contact-item-link{
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.32px;
}

.header-contact-item-link:hover,
.header-contact-item-link:focus{
    color: cadetblue;
}

.hero{
    background-color:#2E2F42;
}
.hero-title{
    width: 496px;
    color: #FFF;
        text-align: center;
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.071;
        /* 107.143% */
        letter-spacing: 1.12px;
}
.hero-btn{
        border-radius: 4px;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        line-height: 1.5;
        cursor: pointer;
}
